<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--        DAO             -->

    <bean id="sessionDAO"
          class="ru.alcereo.pairlearning.DAO.SessionDAOPG"
    />

    <bean id="usersDAO"
          class="ru.alcereo.pairlearning.DAO.UsersDAOPG"
    />

    <bean id="topicRowsDAO"
          class="ru.alcereo.pairlearning.DAO.TopicRowsDAOPG"
    />

    <!--        Services        -->

    <bean id="sessionService"
          class="ru.alcereo.pairlearning.Service.SessionService" >

        <property name="sessions" ref="sessionDAO"/>
        <property name="users" ref="usersDAO"/>
    </bean>

    <bean id="connectionFilter"
          class="ru.alcereo.pairlearning.servlets.ValidationFilter" >

        <property name="sessionService" ref="sessionService"/>
    </bean>

    <bean id="topicService"
          class="ru.alcereo.pairlearning.Service.TopicService" >
        <property name="usersDAO" ref="usersDAO"/>
        <property name="topicRows" ref="topicRowsDAO"/>
    </bean>

    <bean id="registrationService"
          class="ru.alcereo.pairlearning.Service.RegistrationService" >
        <property name="users" ref="usersDAO"/>
        <property name="sessions" ref="sessionDAO"/>
        <property name="sendingService" ref="sendingService"/>
    </bean>

    <bean id="sendingService"
          class="ru.alcereo.pairlearning.Service.SendingServiceMock"
    />

    <bean id="topicInviteChecker"
          class="ru.alcereo.pairlearning.Service.Chat.TopicInviteChecker"
    >
        <property name="topicService" ref="topicService"/>
    </bean>

    <bean id="chatRoom"
          class="ru.alcereo.pairlearning.Service.Chat.ChatRoomGrouped" >
        <property name="inviteChecker" ref="topicInviteChecker"/>
    </bean>

    <bean id="socketSessionProvider"
          class="ru.alcereo.pairlearning.SocketChat.SocketSessionProvider" >
        <property name="sessionService" ref="sessionService"/>
        <property name="chatRoom" ref="chatRoom"/>
    </bean>

    <bean id="chatSocketConnection"
          class="ru.alcereo.pairlearning.SocketChat.ChatSocketConnection" >
        <property name="socketSessionProvider" ref="socketSessionProvider"/>
    </bean>

</beans>